/* Add space from all sides */
.tasks-det {
  margin: 20px;
}
.update-task{
  background-color: rgb(210, 202, 191);
  border-radius: 10px;
  text-align: center;
  padding: 5px;
}
div[ngIf="task"] {
  margin: 20px;
  padding: 20px;
  background-color: #bcb8b8;
}

/* Style the form elements */
form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin-bottom: 20px;
  background-color: #e7dcdc;
  padding: 20px;
  padding-bottom: 50px;
}

label {
  font-weight: bold;
  margin-bottom: 8px;
}

input, textarea, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

select {
  appearance: none;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="6" fill="%23333" viewBox="0 0 1792 1792"><path d="M1664 480q0 26-19 45l-703 703q-19 19-45 19t-45-19l-703-703q-19-19-19-45t19-45q19-19 45-19t45 19l658 658 658-658q19-19 45-19t45 19q19 19 19 45z"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 8px center;
}

/* Style the buttons container */
.button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

/* Style the buttons */
button {
  padding: 8px 20px;  
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"] {
  background-color: #007bff;
  width: 200px;
  height: 40px;
}

button[type="button"] {
  background-color: #dc3545;
}

/* Style the history log */
h3 {
  margin-top: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
}

.mx-4 {
  margin-right: 16px;
}

.history-log {
  background-color: #6b96c5;
  padding: 5px;
}

.sort-btns button{
  margin-right: 10px;
  background-color: #3475c5;
}

.current-property {
  color: #0056b3; /* Blue color for current task properties */
}

/* Responsive styles for larger screens */
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;  
    grid-gap: 20px;
  }
  .update-task {
    grid-column: span 2; /* Span both columns on larger screens */
  }
}

/* Responsive styles for medium-sized screens */
@media (max-width: 767px) {
  form {
    grid-template-columns: 1fr;  
  }
  .update-task {
    grid-column: auto;  
  }
}

/* Responsive styles for small or mobile screens */
@media (max-width: 680px) {
  form {
    grid-template-columns: 1fr; /* Single column on small or mobile screens */
  }
  .history-log {
    justify-content: center;
    flex-direction: column; /* Display history log in column layout on small or mobile screens */
  }
}
