<div *ngIf="task">
  <h2>{{ task.title }}</h2>
  <form (ngSubmit)="onSubmit()" #taskForm="ngForm">
    <div>
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="updatedTask.title" required>
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="updatedTask.description" required></textarea>
    </div>
    <div>
      <label for="dueDate">Due Date:</label>
      <input type="date" id="dueDate" name="dueDate" [(ngModel)]="updatedTask.dueDate" required>
    </div>
    <div>
      <label for="priority">Priority:</label>
      <select id="priority" name="priority" [(ngModel)]="updatedTask.priority" required>
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
      </select>
    </div>
    <div>
      <label for="status">Status:</label>
      <select id="status" name="status" [(ngModel)]="updatedTask.status" required>
        <option value="to-do">To Do</option>
        <option value="in-progress">In Progress</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <button type="submit">Save Changes</button>
    <button type="button" (click)="resetForm()">Reset Form</button>
  </form>
 <h3>History Log</h3>
  <ul >
    <li *ngFor="let historyEntry of task.historyLog">
      <p>Timestamp: {{ historyEntry.timestamp | date }}</p>
      <div class="d-flex ">
        <span class="mx-4">
          <strong>Title:</strong> {{ historyEntry.changes?.title }}  
        </span>
        <span class="mx-4">
          <strong>desc:</strong> {{ historyEntry.changes?.description }}  
        </span>
        <span class="mx-4">
          <strong>Due Date:</strong> {{ historyEntry.changes?.dueDate }}  
        </span>
        <span class="mx-4">
          <strong>Priority:</strong> {{ historyEntry.changes?.priority }}  
        </span>
        <span class="mx-4">
          <strong>Status:</strong> {{ historyEntry.changes?.status }}  
        </span>
      </div>
      
    </li>
  </ul>  
  <!-- <h3>History Log</h3>
  <ul>
    <li *ngFor="let historyEntry of task.historyLog">
      <p>Timestamp: {{ historyEntry.timestamp }}</p>
      <ul>
        <li *ngIf="historyEntry.changes.title">
          <span>Title: {{ historyEntry.changes.title }}</span>
        </li>
        <li *ngIf="historyEntry.changes.description">
          <span>Description: {{ historyEntry.changes.description }}</span>
        </li>
        <li *ngIf="historyEntry.changes.dueDate">
          <span>Due Date: {{ historyEntry.changes.dueDate }}</span>
        </li>
        <li *ngIf="historyEntry.changes.priority">
          <span>Priority: {{ historyEntry.changes.priority }}</span>
        </li>
        <li *ngIf="historyEntry.changes.status">
          <span>Status: {{ historyEntry.changes.status }}</span>
        </li>
      </ul>
    </li>
  </ul> -->
</div>
